NAME : RINKU SADH

ROLL NUMBER : D24CSA005

## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
x = int(input("ENTER A NUMBER"))
for i in range(1,11):
  print(f"{x}*{i}={x*i}")

ENTER A NUMBER2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:

l1=[2,4,3,2,5]
l2=[9,56,8,0,4]
l3=[i for i in l1[1:len(l1):2]]

for i in l2[0:len(l2):2]:
  l3.append(i)
#l3.append(l1[1:len(l1):2])
#l3.append(l2[0:len(l2):2])
print(l3)

[4, 2, 9, 8, 4]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
for i in range(8):
  for j in range(i):
    print(" ",end=" ")
  for k in range(8-i):
    print("*",end=" ")
  print("\n")

* * * * * * * *

  * * * * * * *

    * * * * * *

      * * * * *

        * * * *

          * * *

            * *

              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
def exponent(base, exp):
  x=1
  for i in range(exp):
    x=x*base
  return x

x=int(input("ENTER THE BASE "))
Y=int(input("ENTER THE EXPONENT"))
print(exponent(x, Y))

ENTER THE BASE 5
ENTER THE EXPONENT4
625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [1]:
with open("test.txt","w") as file:
  for i in range(1,8):
    file.write(f"line{i}\n")
with open("test.txt","r") as file:
  content=file.readlines()
  with open("test2.txt","w") as file2:
    for i in range(len(content)):
      if i!=4:
        file2.write(content[i])
  with open("test2.txt","r") as file2:
    print(file2.readlines())

  print(content)

['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line6\n', 'line7\n']
['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5\n', 'line6\n', 'line7\n']

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [5]:
x=input("ENTER THREE NAMES")
x=x.split(" ")
for i in x:
  print(i)

ENTER THREE NAMESIIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [2]:
def show_employee(name,salary=9000):
   print(f"Name: {name} salary: {salary}")


show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [3]:
sentence = input("ENTER THE SENTENCE that contain both letters and digits")
words = sentence.split(" ")
for word in words:
  if any(char.isdigit() for char in word) and any(char.isalpha() for char in word):
    print(word)

ENTER THE SENTENCE that contain both letters and digitsHarry25 is Gryffindor Wizard50 and cursed
Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [5]:
str1=input("ENTER A SENTENCEE ")

words=str1.split(" ")

for word in words:
  for char in word:
    if not char.isalnum():
      word=word.replace(char,"#")

  print(word,end=" ")

ENTER A SENTENCEE /*Modi is @Politician & Melony!!
##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [7]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
final_output=set((first_list[i],second_list[i]) for i in range(len(first_list)))
print(final_output)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [10]:
set1={1,2,3,4,5}
set2={3,5,6,7,9}
print(set1-set2)
print(set2-set1)
print(set1.intersection(set2))
print(set1.union(set2))

{1, 2, 4}
{9, 6, 7}
{3, 5}
{1, 2, 3, 4, 5, 6, 7, 9}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [9]:
class Vehicle:
  def __init__(self,max_speed,mileage):
    self.max_speed=max_speed
    self.mileage=mileage
car=Vehicle(240,18)
print(car.max_speed,car.mileage)

240 18

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [11]:
class Bus(Vehicle):
  pass
if __name__=="__main__":
  bus=Bus(240,18)
  print(bus.max_speed,bus.mileage)

240 18

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [16]:
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity=50):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  pass

if __name__=="__main__":
  bus=Bus("Bus",240,18)
  print(bus.seating_capacity())

The seating capacity of a Bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [17]:
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
    pass
    def fare(self):
      return super().fare()+0.1*super().fare()

if __name__=="__main__":
    School_bus = Bus("School Volvo", 12, 50)
    print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [12]:
data = {"key1" : "value1", "key2" : "value2"}
import json
print(json.dumps(data))

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [14]:
import json
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}
sorted=json.dumps(sampleJson,sort_keys=True)
with open("sampleJson.json","w") as file:
  file.write(sorted)

data=json.loads(sorted)
print(data)

{'age': 29, 'id': 1, 'name': 'value2'}